.channels4-profile-1-icon {
  position: absolute;
  top: 110px;
  left: 0;
  width: 168px;
  height: 37px;
  object-fit: cover;
}
.download-removebg-preview-2,
.unnamed-removebg-preview-1-icon {
  position: absolute;
  top: 89px;
  left: 257px;
  width: 74px;
  height: 74px;
  object-fit: cover;
}
.unnamed-removebg-preview-1-icon {
  top: 64px;
  left: 573px;
  width: 124px;
  height: 124px;
}
.image-13-icon,
.pfp023dkrsw4ebv7wt0r-mb9g5hx7o-icon {
  position: absolute;
  top: 64px;
  left: 748px;
  width: 152px;
  height: 139px;
  object-fit: cover;
}
.image-13-icon {
  top: 73px;
  left: 416px;
  width: 106px;
  height: 106px;
}
.by {
  color: var(--primary-primary-2);
}
.supported-by {
  position: absolute;
  top: 0;
  left: 285px;
  letter-spacing: 1px;
  line-height: 101%;
  display: inline-block;
  width: 336px;
}
.suported-by-child {
  position: absolute;
  top: 10px;
  left: 372px;
  background-color: #d9d9d9;
  width: 5px;
  height: 220px;
  display: none;
}
.suported-by {
  position: absolute;
  top: 5368px;
  left: 270px;
  width: 900px;
  height: 203px;
  color: var(--ungu-selasar-kampus);
}
.image-9-icon {
  position: absolute;
  top: 111px;
  left: 469px;
  width: 170px;
  height: 37px;
  object-fit: cover;
}
.coverage {
  color: var(--ungu-selasar-kampus);
}
.media-coverage1 {
  position: absolute;
  top: 0;
  left: 237px;
  letter-spacing: 1px;
  line-height: 101%;
  display: inline-block;
  width: 408px;
}
.image-10-icon,
.image-11-icon,
.image-12-icon {
  position: absolute;
  top: 103px;
  left: 697px;
  width: 165px;
  height: 53px;
  object-fit: cover;
}
.image-11-icon,
.image-12-icon {
  top: 91px;
  left: 0;
  width: 199px;
  height: 66px;
}
.image-12-icon {
  top: 103px;
  left: 257px;
  width: 143px;
  height: 54px;
}
.media-coverage,
.our-team-child {
  position: absolute;
  top: 4996px;
  left: 282px;
  width: 862px;
  height: 157px;
}
.our-team-child {
  top: 180px;
  left: 0;
  background: linear-gradient(90deg, #7322bf, #bf40c1);
  width: 1481px;
  height: 343px;
}
.cta-our-team-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-17xl);
  background-color: var(--color-white);
  width: 211px;
  height: 43px;
}
.see-more {
  position: absolute;
  top: 9px;
  left: 67px;
  line-height: 150%;
  font-weight: 600;
}
.cta-our-team,
.wanna-see-our {
  position: absolute;
  cursor: pointer;
}
.cta-our-team {
  top: 396px;
  left: 187px;
  width: 211px;
  height: 43px;
}
.wanna-see-our {
  top: 243px;
  left: 182px;
  font-size: var(--font-size-45xl);
  line-height: 88.5%;
  display: flex;
  font-family: var(--font-clash-display);
  color: var(--color-white);
  align-items: center;
  width: 487px;
}
.farid-1-icon {
  position: absolute;
  top: 122px;
  left: 684px;
  width: 347px;
  height: 401px;
  object-fit: cover;
}
.our-team,
.pngegg-5-15 {
  position: absolute;
  height: 523px;
}
.pngegg-5-15 {
  top: 0;
  left: 880px;
  width: 502px;
  object-fit: cover;
}
.our-team {
  top: 4174px;
  left: -38px;
  width: 1481px;
  font-size: var(--buttons-large-size);
  color: #222;
  font-family: var(--buttons-small);
}
.has-been-reached1 {
  color: var(--color-black);
}
.students-has-been-container1 {
  top: 16px;
  left: 258px;
  width: 238px;
}
.sc-mentee-high-container1,
.students-has-been-container1,
.undergraduate-students-contrib-container1 {
  position: absolute;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
}
.undergraduate-students-contrib-container1 {
  top: 16px;
  left: 756px;
  width: 238px;
  color: var(--color-black);
}
.sc-mentee-high-container1 {
  top: 190px;
  left: 188px;
  width: 286px;
}
.k1 {
  top: 0;
  left: 0;
  font-size: var(--font-size-45xl);
  font-family: var(--font-clash-display);
}
.b4,
.companies-organizations1,
.k1 {
  position: absolute;
  line-height: 150%;
}
.b4 {
  top: 172px;
  left: 0;
  font-size: var(--font-size-45xl);
  font-family: var(--font-clash-display);
}
.companies-organizations1 {
  top: 190px;
  left: 708px;
  font-weight: 600;
  color: var(--color-black);
  display: inline-block;
  width: 255px;
}
.b5 {
  top: 172px;
  left: 551px;
  font-size: var(--font-size-45xl);
  line-height: 150%;
  font-family: var(--font-clash-display);
}
.b5,
.b6,
.impact1 {
  position: absolute;
}
.b6 {
  top: 0;
  left: 549px;
  font-size: var(--font-size-45xl);
  line-height: 150%;
  font-family: var(--font-clash-display);
}
.impact1 {
  top: 3791px;
  left: 239px;
  width: 994px;
  height: 268px;
  font-size: var(--font-size-xl);
  color: var(--color-darkorchid-100);
  font-family: var(--body-body-text-1);
}
.what-do {
  margin-block-start: 0;
  margin-block-end: 9px;
}
.they-say {
  margin: 0;
  color: var(--ungu-selasar-kampus);
}
.what-do-they-container {
  position: absolute;
  top: 157px;
  left: 0;
  letter-spacing: 1px;
  line-height: 101%;
  display: inline-block;
  width: 245px;
}
.group-child3,
.group-child4 {
  position: absolute;
  top: 359px;
  left: 45px;
  width: 63px;
  height: 75px;
}
.group-child4 {
  top: 19px;
  left: 0;
  border-radius: 11px;
  background: linear-gradient(132.34deg, #7322bf, #a922bf);
  width: 456px;
  height: 344px;
}
.seru-bangett-pokoknya {
  position: absolute;
  top: 139px;
  left: 45px;
  line-height: 150%;
  display: inline-block;
  width: 387px;
  height: 120px;
}
.group-child5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 47px;
  height: 47px;
  object-fit: cover;
}
.keisya,
.peserta-studybox-30 {
  position: absolute;
  left: 0;
  letter-spacing: 0.02em;
  line-height: 156.5%;
}
.keisya {
  top: 0;
  font-weight: 500;
}
.peserta-studybox-30 {
  top: 24px;
  font-size: var(--font-size-smi);
}
.ellipse-parent,
.keisya-parent {
  position: absolute;
  top: 0;
  left: 63px;
  width: 129px;
  height: 44px;
}
.ellipse-parent {
  top: 250px;
  left: 39px;
  width: 192px;
  height: 47px;
  font-size: 17px;
  font-family: var(--font-roboto);
}
.b7,
.vector-parent {
  position: absolute;
  top: 0;
}
.b7 {
  left: 362px;
  font-size: var(--font-size-109xl);
  letter-spacing: 0.02em;
  line-height: 156.5%;
  display: inline-block;
  width: 64px;
  height: 96px;
}
.vector-parent {
  left: 627px;
  width: 456px;
  height: 434px;
  font-size: var(--buttons-large-size);
  color: var(--color-white);
  font-family: var(--body-body-text-1);
}
.testimoni-child {
  position: absolute;
  top: 434px;
  left: 822px;
  width: 86px;
  height: 22px;
}
.material-symbolsarrow-back-io-icon,
.material-symbolsarrow-back-io-icon1 {
  position: absolute;
  top: 180px;
  left: 539px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.material-symbolsarrow-back-io-icon1 {
  left: 1108px;
}
.testimoni {
  position: absolute;
  top: 3155px;
  left: 149px;
  width: 1158px;
  height: 456px;
}
.experience-your-dream-container {
  position: absolute;
  top: 0;
  left: 333px;
  letter-spacing: 0.5px;
  line-height: 150%;
}
.group-icon {
  position: absolute;
  top: -21px;
  left: -25px;
  width: 458.97px;
  height: 436.91px;
  object-fit: cover;
}
.group-child6 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  width: 408.97px;
  height: 386.91px;
}
.group-child7 {
  position: absolute;
  top: 11.85px;
  left: 10.85px;
  width: 387.27px;
  height: 201.5px;
  object-fit: cover;
}
.experience-the-life {
  top: 248px;
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  width: 329px;
  height: 25px;
}
.experience-the-life,
.health-sciences,
.rp200000 {
  position: absolute;
  left: 11.99px;
}
.rp200000 {
  top: 273px;
  font-weight: 600;
  color: var(--color-darkorchid-100);
  display: inline-block;
  width: 119px;
  height: 26px;
}
.health-sciences {
  top: 225px;
  font-size: var(--font-size-smi);
}
.hr-30min {
  position: absolute;
  top: 0;
  left: 20.87px;
  font-weight: 500;
  display: inline-block;
  width: 75.95px;
  height: 20.32px;
}
.time-svgrepo-com-1-icon {
  position: absolute;
  top: 2.54px;
  left: 0;
  width: 15.86px;
  height: 16.09px;
  overflow: hidden;
}
.courses,
.hr-30min-parent {
  position: absolute;
  top: 1.69px;
  left: 0;
  width: 96.82px;
  height: 20.32px;
}
.courses {
  left: 29.21px;
  font-weight: 500;
  display: inline-block;
  width: 75.95px;
}
.video-svgrepo-com-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 23.37px;
  height: 23.71px;
  overflow: hidden;
}
.courses-parent,
.sales {
  position: absolute;
  top: 0;
  left: 108.5px;
  width: 105.16px;
  height: 23.71px;
}
.sales {
  left: 22.54px;
  font-weight: 500;
  display: inline-block;
  width: 64.27px;
  height: 20.32px;
}
.download-svgrepo-com-1-icon {
  position: absolute;
  top: 2.54px;
  left: 0;
  width: 15.02px;
  height: 15.24px;
  overflow: hidden;
}
.group-container,
.sales-parent {
  position: absolute;
  top: 1.69px;
  left: 225.35px;
  width: 86.8px;
  height: 20.32px;
}
.group-container {
  top: 320.02px;
  left: 11.68px;
  width: 312.16px;
  height: 23.71px;
  font-size: var(--font-size-smi);
}
.group-child8 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-77xl);
  background-color: var(--color-darkorchid-100);
  width: 172.77px;
  height: 46.56px;
}
.join-course {
  position: absolute;
  top: 11.01px;
  left: 30.05px;
  font-weight: 500;
  display: inline-block;
  width: 112.68px;
  height: 24.55px;
}
.rectangle-parent4 {
  position: absolute;
  top: 364.05px;
  left: 119.35px;
  width: 172.77px;
  height: 46.56px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.line-div {
  position: absolute;
  top: 305.98px;
  left: 11.18px;
  border-top: 1px dashed var(--color-darkgray);
  box-sizing: border-box;
  width: 388.27px;
  height: 1px;
}
.group-child9 {
  position: absolute;
  top: 228.59px;
  left: 325.51px;
  width: 73.45px;
  height: 13.55px;
}
.rectangle-parent3 {
  position: absolute;
  top: 0;
  left: 434.01px;
  width: 408.97px;
  height: 410.61px;
}
.experience-the-life1,
.rp2000001 {
  position: absolute;
  top: 251px;
  left: 10.97px;
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  width: 372px;
  height: 26px;
}
.rp2000001 {
  top: 277px;
  font-weight: 600;
  color: var(--color-darkorchid-100);
  width: 88px;
  height: 25px;
}
.group-parent1,
.health-sciences1 {
  position: absolute;
  font-size: var(--font-size-smi);
}
.health-sciences1 {
  top: 229px;
  left: 10.97px;
  display: inline-block;
  width: 116px;
  height: 20px;
}
.group-parent1 {
  top: 323.41px;
  left: 10.85px;
  width: 312.16px;
  height: 23.71px;
}
.rectangle-parent6 {
  position: absolute;
  top: 367.44px;
  left: 118.52px;
  width: 172.77px;
  height: 46.56px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.group-child13 {
  position: absolute;
  top: 309.37px;
  left: 10.35px;
  border-top: 1px dashed var(--color-darkgray);
  box-sizing: border-box;
  width: 388.27px;
  height: 1px;
}
.group-child14 {
  position: absolute;
  top: 231.98px;
  left: 324.68px;
  width: 73.45px;
  height: 13.55px;
}
.rectangle-parent5 {
  position: absolute;
  top: 0;
  left: 868.03px;
  width: 408.97px;
  height: 414px;
}
.experience-the-life2 {
  position: absolute;
  top: 248px;
  left: 11px;
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  width: 351px;
  height: 25px;
}
.group-parent2,
.health-sciences2 {
  position: absolute;
  font-size: var(--font-size-smi);
}
.health-sciences2 {
  top: 225px;
  left: 11px;
  display: inline-block;
  width: 125px;
  height: 21px;
}
.group-parent2 {
  top: 320.02px;
  left: 10.85px;
  width: 312.16px;
  height: 23.71px;
}
.rectangle-parent7 {
  position: absolute;
  top: 364.05px;
  left: 118.52px;
  width: 172.77px;
  height: 46.56px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.group-child16 {
  position: absolute;
  top: 305.5px;
  left: 10.5px;
  border-top: 1px dashed var(--color-darkgray);
  box-sizing: border-box;
  width: 388px;
  height: 1px;
}
.group-child17 {
  position: absolute;
  top: 228.59px;
  left: 324.68px;
  width: 73.45px;
  height: 13.55px;
}
.rp2000002 {
  position: absolute;
  top: 273px;
  left: 11px;
  font-weight: 600;
  color: var(--color-darkorchid-100);
}
.group-parent,
.product {
  position: absolute;
  width: 1277px;
}
.group-parent {
  top: 132px;
  left: 0;
  height: 414px;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray);
  font-family: var(--font-poppins);
}
.product {
  top: 2359px;
  left: 79px;
  height: 546px;
  text-align: center;
}
.unlock-your-true {
  position: absolute;
  top: 0;
  left: 322px;
  line-height: 97.5%;
  display: inline-block;
  font-family: var(--font-clash-display);
  background: linear-gradient(90deg, #7322bf, #7b61ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 824px;
  height: 192px;
  -webkit-text-stroke: 1px #000;
}
.with {
  color: var(--color-gray-200);
}
.learning {
  color: var(--color-gray-100);
}
.with-selasar-kampus-where-lear {
  margin: 0;
}
.with-selasar-kampus-container {
  position: absolute;
  top: 204px;
  left: 353px;
  font-size: var(--heading-5-size);
  line-height: 120%;
  display: inline-block;
  width: 762px;
  height: 51px;
}
.cta-atas-child,
.stg-flash-8-1 {
  position: absolute;
  top: 516px;
  left: 0;
  width: 1440px;
  height: 602px;
}
.cta-atas-child {
  top: 0;
  border-radius: var(--br-17xl);
  background: linear-gradient(180deg, #763edb, #5a2bde);
  width: 275px;
  height: 43px;
  cursor: pointer;
}
.explore-your-dream {
  position: absolute;
  top: 7px;
  left: 23.87px;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  width: 289px;
}
.cta-atas {
  position: absolute;
  top: 342px;
  left: 594px;
  width: 312.87px;
  height: 43px;
  text-align: left;
  font-size: var(--buttons-large-size);
  color: var(--color-white);
}
.home-1st-page {
  position: absolute;
  top: 265px;
  left: 5px;
  width: 1440px;
  height: 1118px;
  text-align: center;
  font-size: 96px;
  color: var(--color-gray-100);
  font-family: var(--buttons-small);
}
.footer-selasar-kampus-child2 {
  position: absolute;
  height: 97.04%;
  width: 94.43%;
  top: 2.96%;
  right: 0;
  bottom: 0;
  left: 5.57%;
  background-color: var(--color-black);
}
.jl-mayangsari-no31 {
  position: absolute;
  width: 89.76%;
  top: 0;
  left: 10.24%;
  line-height: 150%;
  display: inline-block;
}
.div3,
.selasarkampusgmailcom1 {
  position: absolute;
  top: 49.64%;
  left: 10.24%;
  line-height: 150%;
}
.selasarkampusgmailcom1 {
  top: 83.94%;
}
.ic-location1 {
  position: relative;
  width: 24px;
  height: 24px;
}
.mappin-icon1 {
  position: absolute;
  height: 66.67%;
  width: 52.38%;
  top: 16.67%;
  right: 22.62%;
  bottom: 16.67%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-location1,
.vector-icon1 {
  position: absolute;
  height: 17.52%;
  width: 7.23%;
  top: 6.57%;
  right: 92.77%;
  bottom: 75.91%;
  left: 0;
}
.vector-icon1 {
  height: 66.67%;
  width: 66.67%;
  top: 16.67%;
  right: 16.67%;
  bottom: 16.67%;
  left: 16.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.envelope-icon1,
.icon-phone1 {
  position: absolute;
  height: 17.52%;
  width: 7.23%;
  top: 48.18%;
  right: 92.77%;
  bottom: 34.31%;
  left: 0;
}
.envelope-icon1 {
  height: 51.28%;
  width: 66.67%;
  top: 25%;
  right: 16.67%;
  bottom: 23.72%;
  left: 16.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-email1 {
  position: absolute;
  height: 17.52%;
  width: 7.23%;
  top: 82.48%;
  right: 92.77%;
  bottom: 0;
  left: 0;
}
.jl-mayangsari-no3-kel-pasi-group {
  position: absolute;
  height: 18.46%;
  width: 21.77%;
  top: 35.71%;
  right: 63.8%;
  bottom: 45.82%;
  left: 14.43%;
  text-align: left;
  font-size: var(--buttons-small-size);
}
.footer-selasar-kampus-child3,
.footer-selasar-kampus-child4,
.footer-selasar-kampus-child5 {
  position: absolute;
  height: 46.09%;
  width: 16.85%;
  top: 53.91%;
  right: 77.57%;
  bottom: 0;
  left: 5.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.footer-selasar-kampus-child4,
.footer-selasar-kampus-child5 {
  height: 46.5%;
  width: 18.16%;
  top: 48.25%;
  right: 0;
  bottom: 5.26%;
  left: 81.84%;
}
.footer-selasar-kampus-child5 {
  height: 52.7%;
  width: 25.64%;
  top: -15.63%;
  right: 61.31%;
  bottom: 62.94%;
  left: 13.05%;
}
.studybox2 {
  position: absolute;
  top: 68.6%;
  left: 84.2%;
  line-height: 150%;
}
.selasar-kampus-11 {
  position: absolute;
  height: 11.73%;
  width: 17.57%;
  top: 15.5%;
  right: 69.84%;
  bottom: 72.78%;
  left: 12.59%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.about3,
.home2,
.selasaruntuknegeri1 {
  position: absolute;
  top: 68.6%;
  left: 72.66%;
  line-height: 150%;
}
.about3,
.selasaruntuknegeri1 {
  left: 78.49%;
}
.selasaruntuknegeri1 {
  top: 83.15%;
  left: 15.15%;
  font-size: var(--buttons-small-size);
  font-weight: 600;
  font-family: var(--buttons-small);
}
.mditwitter-icon1,
.riinstagram-line-icon1,
.rilinkedin-box-line-icon1 {
  position: absolute;
  height: 4.04%;
  width: 1.97%;
  top: 80.86%;
  right: 18.82%;
  bottom: 15.09%;
  left: 79.21%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mditwitter-icon1,
.riinstagram-line-icon1 {
  height: 4.18%;
  top: 81.27%;
  right: 15.8%;
  bottom: 14.56%;
  left: 82.23%;
}
.mditwitter-icon1 {
  height: 4.99%;
  width: 2.43%;
  top: 80.46%;
  right: 12.2%;
  left: 85.38%;
}
.footer-selasar-kampus-child6 {
  position: absolute;
  height: 0.13%;
  width: 75.93%;
  top: 75.74%;
  right: 9.25%;
  bottom: 24.12%;
  left: 14.82%;
  background-color: var(--color-white);
}
.icbaseline-tiktok-icon1 {
  position: absolute;
  height: 5.39%;
  width: 2.62%;
  top: 80.19%;
  right: 9.25%;
  bottom: 14.42%;
  left: 88.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.footer-selasar-kampus1 {
  position: absolute;
  top: 5866px;
  left: -85px;
  width: 1525px;
  height: 742px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--body-body-text-1);
}
.selasar-putih-11 {
  position: absolute;
  top: 23px;
  left: 94px;
  width: 136px;
  height: 52px;
  object-fit: cover;
}
.home3 {
  left: 0;
  color: var(--color-darkorchid-100);
}
.about4,
.home3,
.studybox3 {
  position: absolute;
  top: 0;
  line-height: 150%;
  font-weight: 600;
}
.about4 {
  left: 103px;
  cursor: pointer;
}
.studybox3 {
  left: 199px;
}
.titles1 {
  position: absolute;
  top: 42px;
  left: 1062px;
  width: 307px;
  height: 24px;
}
.selasar-kampus-search-bar-bar1 {
  position: absolute;
  top: 37px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 99px;
  overflow: hidden;
  font-size: var(--buttons-large-size);
  color: var(--color-gray-200);
  font-family: var(--buttons-small);
}
.major-simmulation-child {
  position: absolute;
  top: 0;
  left: 49px;
  border-radius: var(--br-29xl);
  background-color: var(--color-darkorchid-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 188px;
  height: 439px;
}
.major-simmulation-item,
.mask-group-icon {
  position: absolute;
  top: 170px;
  left: 49px;
  width: 188px;
  height: 269px;
}
.major-simmulation-item {
  border-radius: var(--br-29xl);
  background: linear-gradient(0deg, #000, transparent);
}
.mask-group-icon {
  object-fit: cover;
}
.beautiful-asian-woman-excited-icon {
  position: absolute;
  top: 132px;
  left: 0;
  width: 254px;
  height: 253px;
  object-fit: cover;
}
.major-simmulation1 {
  position: absolute;
  top: 47px;
  left: 69px;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  width: 162px;
  height: 57px;
}
.group-child18,
.major-simmulation {
  position: absolute;
  top: 100px;
  left: 0;
  width: 254px;
  height: 439px;
}
.group-child18 {
  top: 0;
  border-radius: var(--br-29xl);
  background-color: var(--color-darkorchid-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 188px;
  height: 431px;
}
.group-child19,
.mask-group-icon1 {
  position: absolute;
  top: 162px;
  left: 0;
  width: 188px;
  height: 269px;
}
.group-child19 {
  border-radius: var(--br-29xl);
  background: linear-gradient(0deg, #000, transparent);
}
.mask-group-icon1 {
  object-fit: cover;
}
.beautiful-asian-woman-excited-icon1,
.business-finance-employment-fe-icon {
  position: absolute;
  top: 1794px;
  left: 596px;
  width: 254px;
  height: 253px;
  object-fit: cover;
  display: none;
}
.business-finance-employment-fe-icon {
  top: 1779px;
  left: 576px;
  width: 340px;
  height: 295px;
}
.happy-man-with-clear-innocent-icon {
  position: absolute;
  top: 84px;
  left: 0;
  width: 188px;
  height: 307px;
  object-fit: cover;
}
.apptitude-test {
  position: absolute;
  top: 47px;
  left: 20px;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  width: 162px;
  height: 57px;
}
.group-child20,
.rectangle-parent8 {
  position: absolute;
  top: 100px;
  left: 568px;
  width: 188px;
  height: 431px;
}
.group-child20 {
  top: 0;
  left: 28px;
  border-radius: var(--br-29xl);
  background-color: var(--color-darkorchid-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.group-child21,
.mask-group-icon2 {
  position: absolute;
  top: 162px;
  left: 28px;
  width: 188px;
  height: 269px;
}
.group-child21 {
  border-radius: var(--br-29xl);
  background: linear-gradient(0deg, #000, transparent);
}
.mask-group-icon2 {
  object-fit: cover;
}
.beautiful-asian-woman-excited-icon2 {
  position: absolute;
  top: 1794px;
  left: 835px;
  width: 254px;
  height: 253px;
  object-fit: cover;
  display: none;
}
.business-finance-employment-fe-icon1,
.happy-man-with-clear-innocent-icon1 {
  position: absolute;
  top: 1779px;
  left: 815px;
  width: 340px;
  height: 295px;
  object-fit: cover;
  display: none;
}
.happy-man-with-clear-innocent-icon1 {
  top: 1754px;
  left: 884px;
  width: 188px;
  height: 307px;
}
.happy-casual-asian-male-studen-icon {
  position: absolute;
  top: 73px;
  left: 0;
  width: 216px;
  height: 323px;
  object-fit: cover;
}
.cari {
  font-weight: 500;
}
.cari-kampus {
  position: absolute;
  top: 42px;
  left: 78px;
  line-height: 150%;
  display: inline-block;
  width: 104px;
  height: 57px;
}
.group-child22,
.rectangle-parent9 {
  position: absolute;
  top: 100px;
  left: 779px;
  width: 216px;
  height: 431px;
}
.group-child22 {
  top: 0;
  left: 35px;
  border-radius: var(--br-29xl);
  background-color: var(--color-darkorchid-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 188px;
}
.group-child23,
.mask-group-icon3 {
  position: absolute;
  top: 162px;
  left: 35px;
  width: 188px;
  height: 269px;
}
.group-child23 {
  border-radius: var(--br-29xl);
  background: linear-gradient(0deg, #000, transparent);
}
.mask-group-icon3 {
  object-fit: cover;
}
.beautiful-asian-woman-excited-icon3,
.business-finance-employment-fe-icon2 {
  position: absolute;
  top: 1794px;
  left: 1074px;
  width: 254px;
  height: 253px;
  object-fit: cover;
  display: none;
}
.business-finance-employment-fe-icon2 {
  top: 1779px;
  left: 1054px;
  width: 340px;
  height: 295px;
}
.happy-casual-asian-male-studen-icon1,
.happy-man-with-clear-innocent-icon2 {
  position: absolute;
  top: 1754px;
  left: 1123px;
  width: 188px;
  height: 307px;
  object-fit: cover;
  display: none;
}
.happy-casual-asian-male-studen-icon1 {
  top: 1743px;
  left: 1095px;
  width: 216px;
  height: 323px;
}
.portrait-satisfied-young-asian-icon {
  position: absolute;
  top: 124px;
  left: 0;
  width: 269px;
  height: 280px;
  object-fit: cover;
}
.cari-jurusan {
  position: absolute;
  top: 44px;
  left: 83px;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  width: 107px;
  height: 57px;
}
.group-child24,
.rectangle-parent10 {
  position: absolute;
  top: 100px;
  left: 1011px;
  width: 269px;
  height: 431px;
}
.group-child24 {
  top: 0;
  left: 69px;
  border-radius: var(--br-29xl);
  background-color: var(--color-darkorchid-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 188px;
}
.group-child25,
.mask-group-icon4 {
  position: absolute;
  top: 162px;
  left: 69px;
  width: 188px;
  height: 269px;
}
.group-child25 {
  border-radius: var(--br-29xl);
  background: linear-gradient(0deg, #000, transparent);
}
.mask-group-icon4 {
  object-fit: cover;
}
.beautiful-asian-woman-excited-icon4 {
  position: absolute;
  top: 1794px;
  left: 339px;
  width: 254px;
  height: 253px;
  object-fit: cover;
  display: none;
}
.business-finance-employment-fe-icon3 {
  position: absolute;
  top: 109px;
  left: 0;
  width: 340px;
  height: 295px;
  object-fit: cover;
}
.education-consultation {
  position: absolute;
  top: 47px;
  left: 89px;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  width: 162px;
  height: 57px;
}
.rectangle-parent11 {
  position: absolute;
  top: 100px;
  left: 242px;
  width: 340px;
  height: 431px;
}
.services {
  color: var(--color-darkorchid-100);
}
.our-services {
  position: absolute;
  top: 0;
  left: 48px;
  font-size: var(--font-size-21xl);
  line-height: 150%;
  color: var(--color-black);
}
.major-simmulation-parent {
  position: absolute;
  top: 1570px;
  left: 77px;
  width: 1280px;
  height: 539px;
  font-size: var(--heading-5-size);
  color: var(--color-white);
}
.happy-employee-2021-09-24-03-3 {
  position: absolute;
  top: 1570px;
  left: 725px;
  width: 457px;
  height: 367px;
}
.home-selasar {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 6608px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--primary-primary-2);
  font-family: var(--font-clash-display);
}
